@model CityWeather
@{
    string title = $"{@Model.CityName} Weather";
    ViewBag.Title = title;

    ViewDataDictionary viewData = new(ViewData);
    viewData.Clear();
    viewData["ShowDate"] = true;
    viewData["ShowDetailsLink"] = false;
}

<partial name="_CityWeather" model="Model" view-data="viewData"></partial>

<div class="w-25 margin-auto text-center">
    <a href="/">Back to list</a>
</div>

