@model CityWeather
@{
    string title = "Error";
    ViewBag.Title = title;
}

<div class="text-red text-center">
    Bad Request
</div>
<div class="w-25 margin-auto text-center">
    <a href="/">Back to list</a>
</div>


