@model UpdatePersonRequest
@{
    ViewBag.Title = "Delete Person";
}

<a asp-action="index" asp-controller="person" class="link-hover">Back to persons list</a>
<h2>Delete Person</h2>

<div class="w-50">
    <form asp-controller="person" asp-action="delete" asp-route-personid="" method="post">
        <input type="hidden" asp-for="PersonId" />
        
        <div class="flex w-100">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label">Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" disabled />
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>

        @* Email *@
        <div class="flex w-100">
            <div class="w-25">
                <label asp-for="Email" class="form-label">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="Email" class="form-input" disabled/>
                <span asp-validation-for="Email" class="text-red"></span>
            </div>
        </div>


        <button type="submit" class="button button-red-back">Delete</button>

        <div asp-validation-summary="All"></div>

    </form>

    @if (ViewBag.Errors is not null)
    {
        <div class="text-red ml mt">
            <ul>
                @foreach (string error in ViewBag.Errors)
                {
                    <li>@error</li>
                }
            </ul>
    </div>
    }
</div>

