@model CityWeather
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Error</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet">
</head>
<body>
    <h1 class="box w-25 text-center margin-auto text-red">Bad request</h1>
</body>
</html>