<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="header">@ViewBag.Title</header>
        <nav class="navbar">
            <div class="navbar-brand">
                Section 11 - VComp
            </div>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </nav>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
