@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var title = ViewBag.Title;
}
@using Section08.Practice.Models;
@model IEnumerable<Person>;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@title</title>

</head>
<body>
    @foreach (var item in Model)
    {
        <div>
            @item.Title
            @item.Name
            @item.DateOfBirth
            <a href="/person/details/@item.Name">Details</a>
        </div>
    }
</body>
</html>
