<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <header class="header">@ViewBag.Title</header>
        <nav class="navbar">
            <div class="navbar-brand">
                ASP.NET Core Section 10
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/About">About</a></li>
            </ul>
        </nav>
        <div class="page-content">
            @RenderBody()
        </div>
        <footer class="footer-content">
            @await RenderSectionAsync("footer_section", false)
        </footer>
    </div>
</body>
</html>

<script>
    @RenderSection("script_section", false)
</script>