<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link href="~/StyleSheet.css" rel="stylesheet">
</head>
<body>
    <div class="header">@ViewBag.Title</div>
    <div class="container">
        <div class="page-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>