@{
    string title = "About";
    ViewDataDictionary viewData = new ViewDataDictionary(ViewData);
    ViewData["Title"] = title;
    ViewData["ListTitle"] = "About list";
}

<partial name="_list" view-data="viewData"></partial>

@section footer_section
{
    <p>We are best</p>
}